@font-face {
    font-family: "Poppins";
    src: url("/assets/font/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/font/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/font/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/font/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/font/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eff8ff;
    font-family: "Poppins";
}

.content {
    background: transparent;
    transition: 0.3s;
}
.main {
    margin: 1.5rem 3rem;
    padding-top: 30px;
}
.header h2 {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    span {
        color: #6e7191;
    }
}
.table tr td {
    height: 52px;
    vertical-align: middle;
}

.badge.badge-custom-1 {
    background-color: #c4f8e2;
    color: #06a561;
    font-weight: 400;
    border-radius: 4px;
    font-size: 14px;
}

.badge.badge-custom-2 {
    background-color: #ff3b30;
    color: #ffefef;
    font-weight: 400;
    border-radius: 4px;
    font-size: 14px;
}
.badge.badge-custom-3 {
    background-color: #f99600;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 14px;
}
.badge.badge-custom-4 {
    background-color: #00f968;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 14px;
}

.btn {
    outline: none !important;
    user-select: none;
}

/* Button Custom 1 */
.btn.btn-custom-1 {
    background-color: #edd12f !important;
    color: #ffffff !important;
}
.btn.btn-custom-1:hover,
.btn.btn-custom-1:active,
.btn.btn-custom-1:focus {
    background-color: #edd12f !important;
    color: #ffffff !important;
}
.btn.btn-custom-1 i {
    color: #ffffff !important;
}

/* Button Custom 2 */
.btn.btn-custom-2 {
    background-color: #ed2f2f !important;
    color: #ffffff !important;
}
.btn.btn-custom-2:hover,
.btn.btn-custom-2:active,
.btn.btn-custom-2:focus {
    background-color: #ed2f2f !important;
    color: #ffffff !important;
}
.btn.btn-custom-2 i {
    color: #ffffff !important;
}

/* Button Custom 3 */
.btn.btn-custom-3 {
    background-color: #2fed6f !important;
    color: #ffffff !important;
}
.btn.btn-custom-3:hover,
.btn.btn-custom-3:active,
.btn.btn-custom-3:focus {
    background-color: #2fed6f !important;
    color: #ffffff !important;
}
.btn.btn-custom-3 i {
    color: #ffffff !important;
}

/* Button Custom 4 */
.btn.btn-custom-4 {
    background-color: #ff4848 !important;
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 300;
    padding: 6px 18px;
    border-radius: 4px;
}
.btn.btn-custom-4:hover,
.btn.btn-custom-4:active,
.btn.btn-custom-4:focus {
    background-color: #ff4848 !important;
    color: #ffffff !important;
}

/* Button Custom 5 */
.btn.btn-custom-5 {
    background-color: #48ff4e !important;
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 300;
    padding: 6px 18px;
    border-radius: 4px;
}
.btn.btn-custom-5:hover,
.btn.btn-custom-5:active,
.btn.btn-custom-5:focus {
    background-color: #48ff4e !important;
    color: #ffffff !important;
}

.pagination-container {
    display: flex;
    justify-content: flex-end;
}

.custom-pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-item {
    margin: 0 2px;
}

.pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    border-radius: 4px;
    color: #5a607f;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    border: 0px;
    background-color: #fff;
    transition: all 0.2s ease;
}

.pagination-link:hover {
    background-color: #f7fafc;
}

.pagination-link.active {
    background-color: #ecf2ff;
    color: #1e5eff;
    border-color: #3b82f6;
}

.pagination-arrow {
    font-size: 12px;
}

.pagination-link.dots {
    border: none;
    background: transparent;
}

.small-toast {
    font-size: 12px;
    padding: 8px 12px;
    min-width: 200px;
    max-width: 250px;
}
